<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>CoPrevent Website: Social-Good Hackathon</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <link
      href="../static/dist/jqvmap.css"
      media="screen"
      rel="stylesheet"
      type="text/css"
    />

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.3.min.js"
    ></script>
    <script type="text/javascript" src="../static/dist/jquery.vmap.js"></script>
    <script
      type="text/javascript"
      src="../static/dist/maps/jquery.vmap.world.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../static/js/jquery.vmap.sampledata.js"
    ></script>

    <script>
      jQuery(document).ready(function() {
        jQuery("#vmap").vectorMap({
          map: "world_en",
          backgroundColor: "#FAFAFA",
          color: "#ffffff",
          hoverOpacity: 0.7,
          selectedColor: "#F37068",
          enableZoom: false,
          showTooltip: true,
          scaleColors: ["#C8EEFF", "#006491"],
          values: sample_data,
          normalizeFunction: "polynomial"
        });
      });
    </script>
    <link rel="stylesheet" href="../static/mainStyle.css" />
  </head>
  <body>
    <div id="vmap"></div>
    <div class="top"></div>
    <!-- <<<<<<< HEAD:frontend/examples/world.html -->
    <img
      class="titleImg"
      src="../static/images/HackathonWebsiteTitle.png"
      alt=""
    />
    <img class="teamLogo" src="../static/images/Hackathon Logo.png" alt="" />
    <p class="instruction1">
      <strong> 1. </strong>Please select a country by clicking to predict
      <img
        class="titleImg"
        src="../static/images/HackathonWebsiteTitle.png"
        alt=""
      />
      <img class="teamLogo" src="../static/images/Hackathon Logo.png" alt="" />
    </p>

    <!-- Step2 -->
    <a name="UpdatingWeeklyActivities"></a>
    <img
      class="titleWeeklyActivities"
      src="../static/images/HackathonWeeklyActivities.png"
      alt=""
    />
    <p class="instruction2">
      <strong>
        2.
      </strong>
      Please Update your expected weekly activities
      <br />
      and choose wisely for better preventing COVID-19 flow
    </p>
    <div class="step2Box">
      Tell us your weekly activities in the selected country
    </div>
    <div class="selectedCountryImg" style="">
      <img src="" alt="" />
    </div>
    <div class="weeklyActivitySurvey">
      <h3>Weekly Driving</h3>
      <input type="text" />
      <h3>Weekly Going-Out</h3>
      <input type="text" />
      <h3>Weekly Social Gathering</h3>
      <input type="text" />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <a href="#UpdatingWeeklyActivities"> click me</a>
    <!-- <p class="instruction2">
      Please select a country by clicking to predict
      <br />
      the COVID-19 flow with your own decision
    </p> -->
    <!-- <a href="#predictData">
      Hello, plese see me
      <br />
      this is me again!
    </a> -->
  </body>
</html>
